*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*================
  header
==================*/

header {
    /* border: 3px solid red; */
    width: 100vw;
    height: 110px;
    margin-bottom: 1.5rem;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
}

.container {
    /* border: 3px solid rebeccapurple; */
    background: rgb(20, 60, 80);
    box-shadow: 0 0 20px rgb(100, 100, 100);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 0.7rem;
}

.site-title a {
    color: white;
    text-decoration: none;
}
   
.site-title h1 {
    /* border: 3px solid yellow; */
    font-size: 1.6rem;
    color: white;
    text-align: center;
    letter-spacing: 2px;
}

@media (min-width: 330px) {
    header {
        height: 70px;
    }

    .container {
        text-align: start;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 5%;
    }   

    .site-title h1 {
        font-size: 1.8rem;
        text-align: left;
    }
}

@media (min-width: 380px) {
    .site-title h1 {
        font-size: 2rem;
    }
}

@media (min-width: 710px) {
    .site-title h1 {
        font-size: 2.2rem;
    }
}

/*================
  chat
==================*/

.authdiv {
    /* border: 3px solid red; */
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: 0 auto;
    padding: 1.5rem 4rem 1rem;
    border-radius: 13px;
}

.signup-form {
    display: none;
}

.authdiv p {
    font-size: 1.5rem;
    text-align: center;
    color: white;
    margin-bottom: 1rem;
}

.authdiv .p-info {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 1rem;
}

.authdiv .p-info a {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.authdiv input {
    font-size: 1rem;
    background-color: rgb(30, 30, 30);
    /* background-color: rgba(255, 255, 255, 0.85); */
    /* color: black; */
    color: white;
    /* display: block; */
    padding: 0.3rem;
    padding-left: 0.5rem;
    line-height: 2;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    /* border-radius: 20px; */
    letter-spacing: 0.3px;
}

.authdiv input:not(:first-of-type) {
    margin-top: 0.7rem;
}

.button {
    /* display: flex;
    justify-content: space-around; */
}

#login, #create {
    font-size: 0.9rem;
    /* font-weight: bold; */
    color: white;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: rgba(30, 110, 150, 0.7);
    /* box-shadow: 2px 2px 5px rgb(50, 50, 50); */
    margin-top: 0.7rem;
    padding: 0.4rem 1.5rem;
    letter-spacing: 0.8px;
}




#sendmsg {
    font-size: 0.9rem;
    /* font-weight: bold; */
    color: white;
    width: 100%;
    border: none;
    border-radius: 20px;
    background-color: rgba(30, 110, 150, 0.7);
    /* box-shadow: 2px 2px 5px rgb(50, 50, 50); */
    padding: 0.4rem 1.5rem;
    letter-spacing: 0.8px;
    margin-left: 0.3rem;
}




#login, #logout, #create,

#sendmsg,

input, label {
    cursor: pointer;
}

#logout {
    margin: 1rem;
}

#login:hover,
#login:focus,
#logout:hover,
#logout:focus,
#create:hover,
#creat:focus,
#sendmsg:hover,
#sendmsg:focus,
input:hover,
input:focus {
    scale: 1.03;
    transition: 0.2s;
}

#logout-btn {
    margin-left: 2rem;
}

::placeholder {
    /* color: rgb(150, 150, 150); */
    color: rgba(255, 255, 255, 0.85);
}






.maindiv {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
}

.mainlink {
    background: rgb(50, 50, 50);
    height: 60px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0 0.6rem;
    padding: 0.6rem;
    border-radius: 7px;
}

.link {
    color: white;
}

/* .upload {
    background: gray;
    height: auto;
    width: 95%;
    margin-bottom: 0.6rem;
    border-radius: 7px;
} */

/* .data {
    background: rgb(30, 30, 30);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    width: 98%;
    margin: 1%;
    padding: 0.5rem;
    border-radius: 5px;
}

.send {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 2.5rem;
    width: 2.5rem;
    border-radius: 5px;
} */

#txt {
    background: whitesmoke;
    color: black;
    height: 30px;
    width: 60%;
    padding: 0.2rem 0.4rem;
    border: none;
    border-radius: 3px;
    outline: none;
}

img {
    width: 100%;
    max-width: 40px;
    object-fit: cover;
}

/* .uploadedmsg {
    background: rgb(20, 60, 80);
    width: 60%;
    margin: 0.6rem;
} */

.chat {
    background: rgb(20, 60, 80);
    color: white;
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0.6rem;
    padding: 0.6rem;
    border-radius: 5px;
}

.chat2 {
    background: rgb(130, 230, 250);
    color: black;
    width: 60%;
    margin: 0.6rem;
    margin-left: auto;
    padding: 0.6rem;
    border-radius: 5px;
}








/*================
  chat
==================*/

.webchat {
    border: 3px solid rgb(30, 30, 30);
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 800px;
    height: 400px;
    margin: 0 auto 7rem;
    border-radius: 5px;
    display: none;
    
}

.sidebar {
    /* border: 3px solid green; */
    background-color: rgba(30, 100, 130, 1);
    display: flex;
    flex-direction: column;
    width: 35%;
}

.sidebar-header {
    /* border: 3px solid yellow; */
    background-color: rgba(20, 60, 80, 0.7);
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-evenly;
    padding: 0.2rem;
    min-height: 3.5rem;
}

.sidebar-header span {
    color: white;
}

#logout {
    font-size: 0.9rem;
    /* font-weight: bold; */
    background-color: rgb(20, 50, 70);
    color: white;
    border: 1pt solid white;
    border-radius: 3px;
    /* padding: 0.2rem 0.8rem; */
    padding: 0.2rem;
    letter-spacing: 0.8px;
    margin: 0;
}

.sidebar-body {
    /* border: 3px solid orangered; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-user {
    font-size: 0.9rem;
    background-color: transparent;
    color: white;
    width: 90%;
    margin-top: 0.3rem;
    padding: 0.3rem 0.5rem;
    border: none;
    border-bottom: 1pt solid white;
    outline: none;
}

.sidebar-user-container {
    /* border: 3px solid yellow; */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0.7rem;
    margin-top: 0.3rem;
    cursor: pointer;
}

.sidebar-user-container:focus, .sidebar-user-container:hover {
    background-color: rgba(20, 60, 80, 0.7);
}

.sidebar-user-img {
    background-color: white;
    min-width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.sidebar-user {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
}

.sidebar-user-name {
    /* border: 3px solid green; */
    height: 50%;
}

.sidebar-user-name span {
    font-weight: bold;
    color: white;
}

.sidebar-user-msg {
    /* border: 3px solid blue; */
    max-height: 25px;
    overflow: hidden;
}

.sidebar-user-msg span {
    font-size: 0.9rem;
    color: white;
}

.chat-container {
    /* border: 3px solid blue; */
    background-color: rgba(30, 110, 150, 0.2);
    display: flex;
    flex-direction: column;
    width: 65%;
}

.chat-header {
    /* border: 3px solid yellow; */
    background-color: rgba(20, 60, 80, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    min-height: 3.5rem;
}

.chat-header span {
    color: white;
}

.chat-body {
    /* border: 3px solid orangered; */
    /* height is 400px - 2x 3rem = 304px */
    position: relative;
    height: 304px;
    overflow: scroll;   
}

.chat-body::-webkit-scrollbar {
    display: none;
}

.chat-footer {
    border-top: 1px solid rgba(30, 100, 130, 1);
    background: rgb(30, 30, 30);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 0.5rem 1rem;
    margin-top: auto;
}




.type-msg {
    font-size: 0.9rem;
    background-color: whitesmoke;
    color: black;
    width: 80%;
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
    border: none;
    outline: none;
    height: 30px;
    

}

.type-msg::placeholder {
    color: rgba(30, 30, 30, 0.8);
}

@media (min-width: 600px) {
    .sidebar-header {
        flex-direction: row;
        min-height: 3rem;
    }

    #logout {
        padding: 0.2rem 0.5rem;
    }

    .sidebar-user-img {
        min-width: 2.5rem;
        height: 2.5rem;
        margin-right: 0.7rem;
    }

    .chat-header {
        min-height: 3rem;
    }
}

/*================
  footer
==================*/

.footer-container {
    /* border: 3px solid rebeccapurple; */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(30, 30, 30);
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem 0;
    margin-top: 20px;
}

.footer-container p {
    color: white;
    margin-bottom: 0.2rem;
}

.footer-container p a {
    text-decoration: none;
    color: white;
}

.footer-container .refs {
    max-width: 250px;
    margin: 0 auto;
}

@media (min-width: 300px) {
    .footer-container {
        padding-bottom: 1.5rem;
    }
}

@media (min-width: 500px) {
    .footer-container .refs {
        max-width: inherit;
    }
}